@mixin borders(
  $color: #000,
  $width: 1px,
  $style: solid,
  $borders: ()
  ){
  @if($borders == all){
    border: $color $width $style;
  } @else {
    @each $border in $borders{
      border-#{$border}-color: $color;
      border-#{$border}-width: $width;
      border-#{$border}-style: $style;
    }
  }
}
