// Absolute
@mixin absolute($top: inherit, $right: inherit, $bottom: inherit, $left: inherit){
  position: absolute;
  
  // Set default if 'right' and 'bottom' are inherit
  @if($top == inherit and $left == inherit){
    @if($right == inherit and $bottom == inherit){
      $top: 0;
      $left: 0;
    }
  }
  
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

// Absolute-center mixin
@mixin absolute-center($width: 50%, $height: $width){
  @include absolute($top: 50%, $left: 50%);
  width: $width;
  height: $height;
  margin-top: -$height/2;
  margin-left: -$width/2;
}
